body{
       /* background-color: red; */
       /* display:flex;
       align-items: center;
       justify-content: center;
       margin: 0;
       padding: 0; */
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-style: italic;
       font-weight: 300;
}
.container{
       margin: 10vh auto;
       width: 500px;
       padding: 2rem;
       text-align: center;
       border-radius: 15px;
       background-color: #272727;
}
.header{
       margin: 2rem;
       color-scheme: #666;
}
input{
       width: 370px;
       padding: 0.5rem 2rem;
       font-size: 3rem;
       border-radius: 10px;
       text-align:right;
       background-color: #272727;
       color:cadetblue;
}
.buttons{
       margin: auto;
       width: 500px;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
}
button{
       padding: 40px;
       margin: 0.5rem;
       font-size: 20px;
       max-width: 100px;
       max-height: 100px;
       text-align: center;
       border-radius: 10%;
       font-weight:900;
       background-color: #272727;
       color: aqua;
}
